.env
# Models/*
product
date_model
customer
(bu v2) Extended BU as Product Retrain_50-epochs_2021_10_07_15_21_38
New Dates_100-epochs_2021_10_11_15_40_45
# Models
__pycache__
Combined_Allegro_Data.csv
*.pyc